<!--<meta http-equiv="refresh" content="7" />-->

<script>

    $(document).ready(function(){
//        $('#send').bind('click', function() {
            setTimeout(function(){

                window.location.reload(false);
            }, 3000);
//        });
    });
</script>

<br>
<h4>Users List</h4>
<div class="row">

  <div class="span2">
    <% @alluser.each do |user| %>
        <ul>
          <li>
            <%= link_to user.name %>
          </li>
        </ul>
    <% end %>
  </div>

</div>
<div class="row">
  <div class="span12" style=" text-align: center;">
    <h4> Chat Room</h4>
  </div>
</div>
<br>
<br>
<div class="row">
  <div id="msg" style="overflow: auto; position:relative; height:50%; width: 100%;">
    <% @chatters.each do |chatter| %>
        <div class="span1 offset5" style="background: #a9a9a9;padding: 5px; ">
          <%= chatter.name %>
        </div>
        <div class="span5">
          <%= chatter.message %> <%= @chatter.created_at %>
        </div>
        <br>
        <br>
    <% end %>
  </div>
</div>
<br>
<br>
<div class="row">
  <%= form_for(@chatter) do |f| %>
      <div class="span3 offset5">
        <%= f.text_area :message, :rows => 1 %>
      </div>
      <div class="span1">
        <%= f.submit "Send" , :id=>"send"%>
      </div>
  <% end %>
</div>